<app-error-handler [showError]="showError" [errorMessage]="errorMessage"></app-error-handler>
<div class="Serbot-selectMembers">
  <div class="Serbot-selectMembers-table" *ngIf="isFiltering">
    <p *ngIf="showNoResults" class="Serbot-selectMembers-noResults">{{  noResultsMessage }}</p>
    <button tabindex="{{ allowTabbing ? 0 : -1 }}" (click)="handleButtonClick($event, key)" [ngClass]="{'Serbot-selectMembers-member-button': true, 'Serbot-selectMembers-member-button--last': key === filteredMembers.length - 1}" *ngFor="let member of filteredMembers; let key = index">
      <div class="Serbot-selectMembers-member">
        <span>{{ member.name }} // {{ member.position }}</span>
        <img *ngIf="isSelected.includes(member)" src="../../../assets/images/checkbox.png" class="Serbot-selectMembers-checkBox" />
        <img *ngIf="isSelected.includes(member)" src="../../../assets/images/checkboxHover.png" class="Serbot-selectMembers-checkBoxHover" />
      </div>
    </button>
  </div>
  <div class="Serbot-selectMembers-table" *ngIf="!isFiltering">
      <button tabindex="{{ allowTabbing ? 0 : -1 }}" (click)="handleButtonClick($event, key)" [ngClass]="{'Serbot-selectMembers-member-button': true, 'Serbot-selectMembers-member-button--last': key === members.length - 1}" *ngFor="let member of members; let key = index">
        <div class="Serbot-selectMembers-member">
          <span>{{ member.name }} // {{ member.position }}</span>
          <img *ngIf="isSelected.includes(member)" src="../../../assets/images/checkbox.png" class="Serbot-selectMembers-checkBox" />
          <img *ngIf="isSelected.includes(member)" src="../../../assets/images/checkboxHover.png" class="Serbot-selectMembers-checkBoxHover" />
        </div>
      </button>
    </div>
  <div class="Serbot-selectMembers-additional">
    <button tabindex="{{ allowTabbing ? 0 : -1 }}" (click)="handleSearchClick()">Search for a member</button>
    <button tabindex="{{ allowTabbing ? 0 : -1 }}" (click)="handleAddNewClick()">Add new member</button>
    <div [ngClass]="{'Serbot-selectMembers-search': true, 'Serbot-selectMembers-searchVisible': searchVisible}">
        <input tabindex="{{ allowTabbing ? 0 : -1 }}" type='text' [(ngModel)]="searchMembers" (ngModelChange)="handleChange($event)" #searchInput class="Serbot-selectMembers-searchInput" />
    </div>
  </div>
  <div [ngClass]="{'Serbot-selectMembers-add': true, 'Serbot-selectMembers-add--visible': showAddNewMember}">
      <div class="Serbot-selectMembers-add-topDiv">
        <p>Add new member</p>
        <button tabindex="{{ allowTabbing && showAddNewMember ? 0 : -1 }}" (click)="handleCloseClick($event)">X</button>
      </div>
      <div class="Serbot-selectMembers-add-inputs">
        <input tabindex="{{ allowTabbing && showAddNewMember ? 0 : -1 }}" type='text' [(ngModel)]="firstNamelastNameValue" (blur)="handleOnBlur($event, 'firstNameLastName')" placeholder="First Name Last Name" #firstLastNameAdd class="Serbot-selectMembers-add-input" />
        <input tabindex="{{ allowTabbing && showAddNewMember ? 0 : -1 }}" type='text' [(ngModel)]="emailValue" (blur)="handleOnBlur($event, 'emailAdd')" placeholder="Email" #emailAdd class="Serbot-selectMembers-add-input" />
        <input tabindex="{{ allowTabbing && showAddNewMember ? 0 : -1 }}" type='text' [(ngModel)]="titleValue" (blur)="handleOnBlur($event, 'titleAdd')" placeholder="Title" #titleAdd class="Serbot-selectMembers-add-input" />
      </div>
      <button tabindex="{{ allowTabbing && showAddNewMember && showCTA ? 0 : -1 }}" (click)="handleCtaClick($event)" class="Serbot-CTA">
        <img class="Serbot-setup-image" src="../assets/images/arrow.png" />
      </button>
    </div>
</div>