.Serbot {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;
    width: 100%;
    @media (min-width: 768px) {
        padding-left: 50px;
        flex-direction: row;
        justify-content: space-between;
    }
}

.Serbot-title {
    display: flex;
    font-size: 20px;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    @media (min-width: 768px) {
        font-size: 25px;
    }
    @media (min-width: 1024px) {
        font-size: 48px;
        text-align: unset;
    }
}

.Serbot-title-inner {
    margin-left: 5px;
    position: relative;
}

.Serbot-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    @media (min-width: 768px) {
        width: unset;
        padding: unset;
    }
}

.Serbot-form-inner {
    display: flex;
    flex-direction: column;
    height: 425px;
    @media (min-width: 768px) {
        padding-left: 20px;
    }
}

.Serbot-CTA {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    border: 0;
    background-color: #fc363b;
    cursor: pointer;
    width: 100%;
    height: 150px;
    @media (min-width: 768px) {
        position: relative;
        left: unset;
        bottom: unset;
        transform: translateX(50%);
        border-radius: 50%;
        width: 425px;
        height: 425px;
        margin-top: 50px;
    }
    @media (min-width: 1024px) {
        margin-top: 75px;
    }
    &:hover, &:focus {
        outline: none;
    }
}

.Serbot-CTA-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
        width: 50%;
    }
}

.Serbot-CTA-image {
    width: 80px;
}

.Serbot-title--span {
    display: inline-block;
    transition: .3s all;
}

.Serbot-title--spanTranslated {
    transform: translateY(-50px);
    opacity: 0;
}

.Serbot-title--spanAlternative {
    opacity: 0;
    position: absolute;
    top: 50px;
    transition: .3s all;
    white-space: nowrap;
}

.Serbot-title--spanAlternativeTranslated {
    opacity: 1;
    top: 0;
    left: 0;
}

.Serbot-title--spanAlternative::first-letter {
    text-transform: uppercase;
}

.Serbot-message {
    font-size: 20px;
    margin-top: 40px;
    color: gray;
    @media (min-width: 768px) {
        padding-left: 20px;
        font-size: 25px;
    }
}

.Serbot-message--button {
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    @media (min-width: 768px) {
        font-size: 25px;
    }
}
