<app-error-handler [showError]="showError" [errorMessage]="errorMessage"></app-error-handler>
<form class="Serbot">
    <div class="Serbot-form">
        <div class="Serbot-title">
            <span>Hello, </span>
            <div class="Serbot-title-inner">
                <span class="Serbot-title--span" [ngClass]="{'Serbot-title--spanTranslated': shouldChangeTitle}">
                    {{ title }}
                </span>
                <span class="Serbot-title--spanAlternative" [ngClass]="{'Serbot-title--spanAlternativeTranslated': shouldChangeTitle}">
                    {{ titleAlternative }}
                </span>
            </div>
        </div>
        <div class="Serbot-form-inner">
            <app-input (swapTitle)="swapTitle($event)" (checkIfValid)="checkIfValid($event)" *ngIf="isSignUp" label="First Name" inputId="firstName"
                type="text">
            </app-input>
            <app-input (checkIfValid)="checkIfValid($event)" *ngIf="isSignUp" label="Last Name" inputId="lastName" type="text"></app-input>
            <app-input (checkIfValid)="checkIfValid($event)" label="Email" inputId="email" type="text"></app-input>
            <app-input (checkIfValid)="checkIfValid($event)" label="Password" inputId="password" type="password"></app-input>
            <app-input (checkIfValid)="checkIfValid($event)" *ngIf="isSignUp" label="Confirm Password" inputId="confirmPassword" type="password"></app-input>
        </div>
        <div class="Serbot-message" *ngIf="isSignUp">
          Go back to<button class="Serbot-message--button" (click)="toggleForm($event)">login.</button>
        </div>
        <div class="Serbot-message" *ngIf="!isSignUp">
          Don't have an account? Click<button class="Serbot-message--button" (click)="toggleForm($event)">here</button>to sign up!
        </div>
    </div>
    <button (click)="clickHandler($event)" class="Serbot-CTA">
        <div class="Serbot-CTA-inner">
            <app-arrow></app-arrow>
        </div>
    </button>
</form>
