.ProjectOverview {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: .5s ease all;
    opacity: 1;
}

.ProjectOverview--switching {
    opacity: 0;
}

.Project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    @media (min-width: 768px) {
        height: 100vh;
        width: 100vw;
    }
}

.Project-wrapper--good {
    background: rgb(142,206,131);
    background: linear-gradient(90deg, rgba(142,206,131,1) 0%, rgba(142,206,131,1) 50%, rgba(34,156,128,1) 100%);

    .Project-number-of--translated {
        color: #daf36a;
    }

    .Project-chartSvgCircle {
        stroke: #daf36a;        
    }

    .Project-chartDiv {
        box-shadow: inset 0 0 0 2px #5ba980;
    }

    .Project-number:last-child {
        border-top: 2px solid #47ac8c;
    }
}

.Project-wrapper--bad {
    background: rgb(255,51,0);
    background: linear-gradient(90deg, rgba(255,51,0,1) 0%, rgba(65,10,12,1) 100%);

    .Project-number-of--translated {
        color: #F44336;
    }

    .Project-chartSvgCircle {
        stroke: #fff;        
    }

    .Project-chartDiv {
        box-shadow: inset 0 0 0 2px #F44336;
    }

    .Project-number:last-child {
        border-top: 2px solid #F44336;
    }
}

.Project-wrapper--medium {
    background: rgb(180,177,177);
    background: linear-gradient(90deg, rgba(180,177,177,1) 0%, rgba(75,75,75,1) 100%);

    .Project-number-of--translated {
        color: #989797;
    }

    .Project-chartSvgCircle {
        stroke: #989797;  
    }

    .Project-chartDiv {
        box-shadow: inset 0 0 0 2px #909090;
    }

    .Project-number:last-child {
        border-top: 2px solid #989797;
    }
}

.Project-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    @media (min-width: 1024px) {
        flex: 1;
        padding: 100px;
        flex-direction: row;
    }
}

.Project-main {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-basis: 48%;
    }
}

.Project-data {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
        flex-basis: 48%;
        margin-top: 50px;
        justify-content: space-around;
    }
    @media (min-width: 1024px) {
        margin-top: 0;
        justify-content: unset;
    }
}

.Project-title {
    font-size: 48px;
    margin: 0 0 10px 0;
}

.Project-type {
    font-size: 22px;
    margin-bottom: 30px;
    opacity: 0.8;
    transition: .3s ease-in opacity;
    &:hover {
        opacity: 0.9;
    }
}

.Project-description {
    font-size: 22px;
    opacity: 0.8;
    transition: .3s ease-in opacity;
    &:hover {
        opacity: 0.9;
    }
}

.Project-chart {
    margin: 25px 0;
    @media (min-width: 768px) {
        margin: 0;
    }
}

.Project-chartDiv {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
        width: 300px;
        height: 300px;
    }
}

.Project-chart-percentage--number {
    position: relative;
    font-size: 72px;
    line-height: 72px;
    font-weight: bold;
}

.Project-chart-percentage--symbol {
    position: absolute;
    right: -20px;
    top: 8px;
    font-size: 24px;
    line-height: 24px;
}

.Project-text {
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    transition: .3s ease-in opacity;
    &:hover {
        opacity: 0.9;
    }
}

.Project-bottom {
}

.Project-slider {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
}

.Project-category {
    width: 45%;
    height: 200px;
    padding: 20px;
    display: inline-block;
    border-right: 1px solid rgba(0,0,0, 0.3);
    background-color: rgba(255,255,255, 0.1);
    transition: .35s ease-out background-color;
    &:hover {
        background-color: rgba(255,255,255, 0.3);
    }
    @media (min-width: 768px) {
        width: 350px;
        height: 400px;
        padding: 50px 40px;
    }
}

.Project-category-title {
    text-transform: uppercase;
    font-size: 16px;
    white-space: pre-line;
    margin: 0 0 15px 0;
    @media (min-width: 768px) {
        font-size: 20px;
        white-space: unset;
    }
}

.Project-category-rating {
    font-size: 26px;
}

.Project-chart {
    display: flex;
    justify-content: center;
    @media (min-width: 768px) {
        display: unset;
    }
}

.Project-chartSvg {
    display: none;
    position: absolute;
    width: 300px;
    height: 300px;
    @media (min-width: 768px) {
        display: unset;
    }
}

.Project-chartSvg--mobile {
    position: absolute;
    width: 260px;
    height: 260px;
    @media (min-width: 768px) {
        display: none;
    }
}

.Project-chartSvgCircle {
    transition: 1s stroke-dashoffset;
    transform: rotate(-90deg);
    stroke-dasharray: calc(128 * 2 * 3.14) calc(128 * 2 * 3.14); // radius * 2 * pi
    stroke-dashoffset: 803;
    @media (min-width: 768px) {
        stroke-dashoffset: 892.212;
        stroke-dasharray: calc(148 * 2 * 3.14) calc(148 * 2 * 3.14); // radius * 2 * pi
    }
}

.Project-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
        margin-left: 40px;
        align-items: unset;
    }
}

.Project-numbers-image {
    position: absolute;
    left: -30px;
    bottom: 3px;
    width: 20px;
}

.Project-number {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    padding-bottom: 30px;
    align-items: flex-start;
    &:last-child {
        padding-top: 30px;
    }
    @media (min-width: 768px) {
        padding-left: 30px;
    }
}

.Project-number-the {
    font-size: 72px;
    position: relative;
    line-height: 72px;
    font-weight: bold;
}

.Project-number-of {
    position: absolute;
    left: 105%;
    top: 8px;
    font-size: 24px;
    line-height: 24px;
    white-space: nowrap;
    transition: .5s ease-out color;
}

.Project-number-number {
    position: relative;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    white-space: nowrap;
    margin-bottom: 10px;
}

.Project-number-title {
    margin-bottom: 10px;
    transition: .5s ease-out color;
}

.Project-number-title--transformed {
    color: #daf36a;
}

.Project-number---upperCased {
    text-transform: uppercase;
}

.ProjectNumbers {
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 30px;
    right: 20px;
    font-size: 22px;
    color: #fff;
    @media (min-width: 1024px) {
        top: 60px;
        left: 100px;
        right: unset;
    }
    span {
        margin-right: 4px;
    }
}

.ProjectNumbers-button {
    cursor: pointer;
    padding: 3px 7px;
    margin: 0 3px;
    border: 0;
    font-size: 14px;
    background: transparent;
    color: white;
    opacity: 0.7;
    transition: .5s ease-out opacity;
    &:hover {
        opacity: 1;
    }
}

.ProjectNumbers-length {
    color: rgba(255,255,255,0.7);
}

.Project-category-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Project-category-image {
    width: 20px;
    margin-left: 20px;
}